<div class="wrapper">
  <label (click)="toggleHandler()">
    <span [ngClass]="{'label': true, 'label--active': !isEmpty}">{{ title }}</span>
    <input class="input" type="text" [value]="inputValue" disabled>
  </label>
  <div class="drop-down" *ngIf="isOpen">
    <ul class="checkbox-list">
      <div class="item" *ngFor="let item of items">
        <controls-checkbox
          [checked]="isChecked(item.value)"
          (changeEmitter)="filterItems(item.value, $event)"
        >{{ item.text }}</controls-checkbox>
      </div>
    </ul>
  </div>
</div>
