<div class="filter">
  <h1 class="title">Фильтры</h1>
  <fieldset class="fields">
    <div class="item">
      <controls-input
        title="Поиск"
        [value]="filters.search"
        (inputEmitter)="changeFilter('search', $event)"
      ></controls-input>
    </div>
    <div class="item">
      <controls-multi-select
        title="Список"
        [items]="filter"
        [values]="filters.multi"
        (selectEmitter)="changeFilter('multi', $event)"
      ></controls-multi-select>
    </div>
    <div class="item">
      <controls-radio-list
        title="Radio btn"
        [items]="radios"
        name="rad"
        [value]="filters.radio"
        all="Все записи"
        (changeEmitter)="changeFilter('radio', $event)"
      ></controls-radio-list>
    </div>
  </fieldset>
</div>
